.outer-div {
  margin: 16px;

  .half-section {
    background: #FFF;
    background-color: var(--table-background-color);
    border-radius: 6px;

    .table__button-group {
      button {
        border: 1px solid #e8e8e8;
        border-radius: 3px;
        height: 20px;
        width: 20px;
        margin: 0px 3px;
      }
    }
  }
}

.table__button-group {
  visibility: hidden;
  transition: visibility .06s ease-in;
}

tr:hover>td .table__button-group {
  visibility: visible
}

.nav-tabs .nav-link {
  color: #252F4A;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.01563rem;
  font-weight: 400;
}

.nav-tabs .nav-item.show .nav-link {
  background: #FFF;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #4f52ff !important;
  color: #4f52ff;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.01563rem;
  font-weight: 500;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.left-section {
  flex: 1;
  max-width: 50%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.right-section {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

@media (max-width: 768px) {

  .left-section,
  .right-section {
    max-width: 100%;
    flex: 100%;
  }

  .left-section {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}


.half-section {
  height: calc(100vh - 136px);


  .input-group {
    border: 1px solid #e8e8e8;
    border-radius: 8px;

    select,
    input,
    .input-group-text {
      border: 0;
      color: var(--text-color);
      background-color: var(--table-background-color);
      font-weight: 400;
      font-size: 12px;
      line-height: 10px;
      padding: 5px 9px;
    }

    .input-group-text {
      border-right: 1px solid #e8e8e8;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .dropdown {
      button {
        border: none;
        background: none;
        height: 100%;
      }

      .dropdown-menu {}
    }

    .la-angle-down:before {
      content: "\f107";
      padding-top: 8px;
      padding-left: 4px;
    }
  }
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  color: #4f52ff;
  font-size: 25px;
}



.form__container {
  border: 1px solid #e8e8e8;
  width: fit-content;
  border-radius: 20px;
  height: 32px;
  font-size: 14px;

  .toggle-button {
    display: none;
  }

  .toggle-button+label {
    display: inline-block;
    padding: 0.1rem 1rem;
    margin: 5px 5px;
    border: 0.125rem solid transparent;
    border-radius: 4rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
    line-height: 1rem;
    letter-spacing: 0.01563rem;
    font-weight: 500;
  }

  .toggle-button:checked+label {
    background: #4f52ff;
    color: #FFF;
    border-color: #4f52ff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .order-list {
    margin: 3rem auto 3rem 0;
    text-align: center;
  }

  .order-button {
    width: 100%;
    padding: 0.5rem 2rem;
    margin: 5px;
    border: 0.125rem solid #ccc;
    cursor: pointer;
    background-color: #343434;
    color: white;
    border-color: #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
}

.dropdown>button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  background-color: var(--background-color);
}

select,
.dropdown>button {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 32px;
  padding: 2px 6px;


  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
  white-space: inherit;
  font-style: normal;
  text-decoration: none;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.01563rem;
  font-weight: 500;
}

.div_b {
  background: #03a9f4;
  height: 21px;
  width: 21px;
  color: #FFF;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 10px;
}

.div_s {
  background: #ff000038;
  height: 21px;
  width: 21px;
  color: red;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 10px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #e8e8e8;
  outline: 0;
  box-shadow: none;
}

.la-bars:before,
.la-trash-alt:before {
  font-size: 18px;
  margin: 0px 6px;
  cursor: pointer;
  color: var(--delete-btn-color);
}

.top_sec1 {
  border-bottom: 1px solid #e8e8e8;

  h6 {
    font-family: Roboto;
    text-align: inherit;
    color: var(--text-color);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.25rem;
    letter-spacing: 0.01563rem;
    font-weight: 500;
    margin-bottom: 4px;

    span {
      padding: 4px 10px;
      border-radius: 6px;
      font-size: 12px;
      margin-left: 6px;

      &:hover {
        background: rgb(229, 239, 251);
      }
    }

  }

  h5 {
    cursor: pointer;
    font-weight: 500;
    height: 2rem;
    padding: 0px 1rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
    color: var(--text-color);
    margin-bottom: 4px;

    &:hover {
      color: rgb(0, 108, 230);
    }
  }
}



.top_sec2 {
  padding: 10px 0;

  h6 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;

  }

  h5 {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;

  }
}

.top_sec3 {
  padding: 3px 0;

  h6 {
    font-family: Roboto;
    text-align: inherit;
    color: var(--text-color);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
    font-weight: 400;
    margin-bottom: 4px;

  }

  h5 {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.015625rem;
    font-weight: 500;
    padding: 0px;
    height: auto;
    color: var(--text-color);
    margin-bottom: 4px;

  }
}

.background-sky.active {
  border-radius: 16px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-family: Roboto;
  background: rgb(0, 108, 230);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.background-sky {
  width: 100%;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  border-radius: 16px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-family: Roboto;
  background: rgb(229, 239, 251);
  color: rgb(52, 64, 84);
  font-weight: 400;
}

.card_sec {
  .card {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: end;

    h6 {
      font-family: Roboto;
      text-align: center;
      color: rgb(52, 64, 84);
      white-space: inherit;
      font-style: normal;
      text-decoration: none;
      font-size: 0.625rem;
      line-height: 1rem;
      letter-spacing: 0.01563rem;
      font-weight: 400;
    }
  }
}

.bottom_sec {
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  background: var(--table-background-color);
  padding: 16px 16px;
  border-top: 1px solid var(--border-color);

  .clear_btn {
    border: 1px solid #e8e8e8;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    background: #FFF;
    width: 110px;
    border-radius: 4px;
  }

  .done_btn {
    background-color: #4f52ff;
    width: 110px;
    border: 1px solid #4f52ff;
    border-radius: 4px;
    color: #FFF;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
  }

  span {
    color: #2F0F5D;
    font-weight: 600;
    font-size: 14px;
  }
}

.dropdown-toggle::after {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

/* Hide the default checkbox */
.custom-checkbox input {
  opacity: 0;
  position: absolute;
}

/* Custom checkbox style */
.custom-checkbox .checkbox-box {
  position: absolute;
  left: 0;
  top: -11px;
  width: 19px;
  height: 19px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: 0.3s;

}

/* Checkmark style */
.custom-checkbox input:checked+.checkbox-box {
  background-color: #5d9bf6;
  border: 1px solid #5d9bf6;
}

.custom-checkbox input:checked+.checkbox-box::after {
  content: '\2713';
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 16px;
  color: #FFF;
  font-weight: 700;

}

/* Checkbox hover effect */
.custom-checkbox:hover .checkbox-box {
  border-color: #888;
}

/* Checkbox focus effect */
.custom-checkbox input:focus+.checkbox-box {
  border-color: #0d6efd;
}

#strategy-popup {
  .modal-dialog {
    max-width: 700px;

    .modal-content {
      background: var(--background-color);
    }
  }

  .modal-header {
    height: 40px;
  }

  .modal-body {
    background-color: var(--table-background-color);

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border-color: transparent !important;
    }
  }

  .la-ellipsis-v:before {
    color: rgb(52, 64, 84);
  }

  .clear_btn {
    border: 1px solid #e8e8e8;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    background: #FFF;
    width: 110px;
    border-radius: 4px;

  }

  .add_btn {
    background-color: #FFF;
    width: 110px;
    border: 1px solid #4f52ff;
    border-radius: 4px;
    color: #4f52ff;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
  }

  .trade_btn {
    background-color: #4f52ff;
    width: 110px;
    border: 1px solid #4f52ff;
    border-radius: 4px;
    color: #FFF;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
  }

  th {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  td {
    color: var(--text-color);
    background-color: var(--table-background-color);
  }
}

.table_outer {
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow: auto;
  height: calc(100vh - 216px);
  background-color: var(--table-background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);

  table {
    border-collapse: separate;
    border: 1px solid #e8e8e8;

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    th,
    td {
      background: #FFF;
      background-color: var(--table-background-color);

    }

    .no-data {
      h6 {
        color: var(--text-color);

      }
    }

    th {
      font-family: Roboto;
      text-align: center;
      color: var(--text-color);
      background-color: var(--background-color);
      white-space: inherit;
      font-style: normal;
      text-decoration: none;
      font-size: 0.625rem;
      line-height: 1rem;
      letter-spacing: 0.01563rem;
      font-weight: 500;
    }

    td {
      font-family: Roboto;
      text-align: center;
      color: var(--text-color);
      white-space: inherit;
      font-style: normal;
      text-decoration: none;
      font-size: 0.625rem;
      line-height: 1rem;
      letter-spacing: 0.01563rem;
      font-weight: 500;
    }
  }




  thead,
  tr,
  th {
    border: 1px solid var(--border-color);
  }

  tbody {
    border: 1px solid transparent;

    tr {
      border-bottom: 1px solid var(--border-color);
    }

    tr.no-data {
      border-bottom: 1px solid transparent;
    }
  }

  .yellow-td {
    background: #f4d7933d !important;
    color: var(--text-color);
  }

  .grey-td {
    background: #a5bfcc2e !important;
    color: var(--text-color);

    div {
      background: #A5BFCC;
      border-radius: 6px;
      text-align: center;
    }
  }

  .sp1 {
    background: #98EECC;
    width: 100px;
    border-radius: 10px;
    padding: 1px 10px;
    color: var(--text-color);

  }

  table {
    border-collapse: collapse;
  }

}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #4f52ff;
  background-color: rgb(0 108 230 / 19%) !important;
  font-weight: 600;
}

.dropdown-item {
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.01563rem;
  font-weight: 500;
  color: rgb(52, 64, 84);
}

.editor_tbl1 {
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 245px);
  background-color: var(--table-background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);

  table {
    border-collapse: separate;
    border: 1px solid #e8e8e8;

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    th,
    td {
      background: #FFF;
      background-color: var(--table-background-color);
    }

    .no-data {
      h6 {
        color: var(--text-color);

      }
    }

    th {
      font-family: Roboto;
      text-align: center;
      color: var(--text-color);
      background-color: var(--background-color);
      white-space: inherit;
      font-style: normal;
      text-decoration: none;
      font-size: 0.625rem;
      line-height: 1rem;
      letter-spacing: 0.01563rem;
      font-weight: 500;
    }

    td {
      font-family: Roboto;
      text-align: center;
      color: var(--text-color);
      white-space: inherit;
      font-style: normal;
      text-decoration: none;
      font-size: 0.625rem;
      line-height: 1rem;
      letter-spacing: 0.01563rem;
      font-weight: 500;
    }
  }

  thead,
  tr,
  th {
    border: 1px solid var(--border-color);
  }

  tbody {
    border: 1px solid transparent;

    tr {
      border-bottom: 1px solid var(--border-color);
    }

    tr.no-data {
      border-bottom: 1px solid transparent;
    }
  }

  table {
    border-collapse: collapse;
  }

}

.editor_tbl2 {
  background-color: var(--table-background-color);


  table {

    th {
      font-family: Roboto;
      text-align: center;
      color: var(--text-color);
      white-space: inherit;
      font-style: normal;
      text-decoration: none;
      font-size: 0.75rem;
      line-height: 1.25rem;
      letter-spacing: 0.0125rem;
      font-weight: 400;
    }

    .input-group {
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 0.25rem;
      height: 1.5rem;
      font-size: 0.75rem;
      line-height: 1.25rem;
      letter-spacing: 0.0125rem;
      border: 1px solid rgb(216, 220, 227);
      color: rgb(52, 64, 84);
      width: auto;
    }
  }
}

.dropdown-toggle {
  b {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
}

.editor_tbl2 {
  overflow-y: auto;
  height: calc(100vh - 320px);
  margin-bottom: 20px;
}

.exp_label {
  font-family: Roboto;
  text-align: inherit;
  color: rgb(52, 64, 84);
  white-space: inherit;
  font-style: normal;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  font-weight: 400;
  margin-bottom: 0;
}

.draft {
  background-color: #FFF;
  width: 110px;
  border: 1px solid #4f52ff;
  border-radius: 4px;
  color: #4f52ff;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
}

.draft1 {
  background-color: #4f52ff;
  width: 110px;
  border: 1px solid #4f52ff;
  border-radius: 4px;
  color: #FFF;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
}

.bottom-sec {

  h6 {
    font-family: Roboto;
    text-align: inherit;
    color: var(--text-color);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
    font-weight: 400;
    margin-bottom: 0;

    span {
      font-weight: 600;
    }
  }
}

/* Custom Styles */
.modal-header {
  color: white;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-body {
  padding: 20px;
}

/* Custom smaller modal */
.modal-dialog.modal-sm {
  max-width: 500px;
  /* Set your desired width */
}

/* Optional: Adjusting the height if necessary */
.modal-content {
  height: auto;
}

.custom-modal-header {
  padding: 0.5rem;
}

/* Optional: Change the close button color */
.custom-modal-header .close {
  color: white;
  /* Change the color of the close button */
  font-size: 20px;
  /* Adjust the size of the close button */
}

.custom-modal-title {
  color: #4f52ff;
  font-size: 15px;
}

#add_to_draft_popup {
  .modal-dialog {
    .modal-content{
      background-color: var(--background-color);
    .modal-header {
      .modal-title {
        font-family: Roboto;
        text-align: inherit;
        color: var(--text-color);
        white-space: inherit;
        font-style: normal;
        text-decoration: none;
        font-size: 14px;
        line-height: 1.25rem;
        letter-spacing: 0.01563rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
    .modal-body{
      input{
        color: var(--text-color);
        background-color: var(--table-background-color);
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
}
.selected {
  background-color: #825e5e; /* Change this to your desired color */
}