.content {
  transition: width 0.3s ease;
  padding: 40px 0px 10px 50px;
  background: var(--background-color);
}
.content.sidebar-expanded {
  margin-left: 170px;
    width: auto;
    padding: 40px 0px 10px 0px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
.scroll::-webkit-scrollbar {
  width: 8px;
}
.content {
  transition: 0.3s;
  &.sidebarExpanded {
    margin-left: 15%;
  }
  .top-bar {
    width: 100%;
  }
}
.contentData {
  // height: calc(100vh - 50px);
  // overflow-y: auto;
  // overflow-x: hidden;
}

/* Responsive CSS by Vishakha */

@media only screen and (max-width: 860px) {
  .content.sidebarExpanded,
  .content {
    margin-left: 50px;
  }
}
  @media only screen and (max-width: 860px) {
    .content.sidebarExpanded,
    .content {
      margin-left: 50px;
    }
  }
