
@import url(../../../app/components/strategy-home/strategy-home.component.scss);
.filter{
  input,select,.dropdown-toggle{
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: 30px;
    padding: 2px 6px;
    text-align: left;
    color: var(--text-color);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    line-height: 1rem;
    letter-spacing: 0.01563rem;
    font-weight: 500;
    outline: none;
    background-color: var(--table-background-color);
  }
  .go_button{
    background-color: #4f52ff;
    width: 110px;
    border: 1px solid #4f52ff;
    border-radius: 4px;
    color: #FFF;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
  }
  .la-angle-down{
    float: right
  }
  
.dropdown-item:focus, .dropdown-item:hover {
  color: #4f52ff;
  background-color: rgb(0 108 230 / 19%) !important;
  font-weight: 600;
}
.dropdown-item{
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.01563rem;
  font-weight: 500;
  color: rgb(52, 64, 84);
}
.dropdown-toggle::after{
  display: none;
}
}
.table-wrapper {
  margin: 30px 0;
border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  scroll-behavior: smooth;
    white-space: nowrap;
    overflow: auto;
    height: calc(100vh - 200px);
    
table {
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
  thead{
    position: sticky;
    top: 0;
  }
  .fa-trash:before{
    content: "\f1f8";
    color: rgb(220 53 69);
    font-size: 14px;
    cursor: pointer;
  }
  .fa-pen:before {
    content: "\f304";
    font-size:14px;
    cursor: pointer;
}
  
}
th{
  color: var(--text-color);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1rem;
    letter-spacing: 0.01563rem;
    font-weight: 500;
}
td{
  color: var(--text-color);
  background-color: var(--table-background-color);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    line-height: 1rem;
    letter-spacing: 0.01563rem;
    font-weight: 500;
    .no-data{
      padding: 30px 0;
      img{
        width: 60px;
        margin: auto;
      }
      h6{
        font-family: Roboto;
        text-align: inherit;
        color: rgb(52, 64, 84);
        white-space: inherit;
        font-style: normal;
        text-decoration: none;
        font-size: 0.75rem;
        line-height: 1.25rem;
        letter-spacing: 0.0125rem;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border: 1px solid #dee2e6;

}
}
.table-title {
padding-bottom: 15px;
background: #435d7d;
color: #fff;
padding: 16px 30px;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.table-title h2 {
margin: 5px 0 0;
font-size: 24px;
}
.table-title .btn-group {
float: right;
}
.table-title .btn {
color: #fff;
float: right;
font-size: 13px;
border: none;
min-width: 50px;
border-radius: 2px;
border: none;
outline: none !important;
margin-left: 10px;
}
.table-title .btn i {
float: left;
font-size: 21px;
margin-right: 5px;
}
.table-title .btn span {
float: left;
margin-top: 2px;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: var(--text-color);
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li a.page-link{
  background: transparent;
}
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
.div_b{
  background: #03a9f4;
  height: 19px;
  width: 19px;
  color: #FFF;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 10px;
}
.div_s{
  background: #ff000038;
  height: 19px;
  width: 19px;
  color: red;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 10px;
}
.clearfix{
  padding: 10px;
}
.table-wrapper{
  
&::-webkit-scrollbar{
  width:6px;
  border-radius: 50%;
}
&::-webkit-scrollbar-thumb {
  background-color: #a1a8b5; 
  border-radius: 4px;
}

&::-webkit-scrollbar-thumb:hover {
  background-color: #a1a8b5; 
}

&::-webkit-scrollbar-track {
  background: #a1a8b5;
  border-radius: 4px; 
}
}
#strategy-popup{
  .modal-dialog{
    max-width: 700px;
  }
  .modal-header{
    height: 40px;
  }
  .modal-body{
    tbody, td, tfoot, th, thead, tr{
      border-color: transparent !important;
    }
  }
.clear_btn {
  border: 1px solid #e8e8e8;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  background: #FFF;
  width: 110px;
  border-radius: 4px;
 
}

.add_btn {
  background-color: #FFF;
  width: 110px;
  border: 1px solid #4f52ff;
  border-radius: 4px;
  color: #4f52ff;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
}
.trade_btn{
  background-color: #4f52ff;
  width: 110px;
  border: 1px solid #4f52ff;
  border-radius: 4px;
  color: #FFF;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
}
}
