  <div class="row m-0 filter mt-3 ms-3 me-3">
    <div class="col-md-2 ps-1 pe-1 mb-1">
      <div class="dropdown">
        <button class="w-100 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          select from Dropdown 
          <i class="las la-angle-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 ps-1 pe-1 mb-1">
      <input type="text" placeholder="" class="w-100">
    </div>
    <div class="col-md-1 mb-1">
      <button class="w-100 go_button">Go</button>
    </div>
  </div>
  <div class="table-wrapper m-3">
    <table class="table">
      <thead>
        <tr>
          <th>Instrument</th>
          <th class="text-center">Tartget P&L</th>
          <th class="text-center">Target Price</th>
          <th class="text-center">Entry Price</th>
          <th class="text-center">LTP</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center justify-content-left">
              <div class="div_b">B</div>
              1 X 23 Jan 1323 Ce
            </div>
          </td>
          <td class="text-center">
            7622.5
          </td>
          <td class="text-center">
            7623.23
          </td>
          <td class="text-center">
            762.44
          </td>
          <td class="text-center">
            763.55
          </td>
          <td>
            <div class="d-flex justify-content-center">
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-trash"></i>
                </a>
               
            </div>
        </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center justify-content-left">
              <div class="div_b">B</div>
              1 X 23 Jan 1323 Ce
            </div>
          </td>
          <td class="text-center">
            7622.5
          </td>
          <td class="text-center">
            7623.23
          </td>
          <td class="text-center">
            762.44
          </td>
          <td class="text-center">
            763.55
          </td>
          <td>
            <div class="d-flex justify-content-center">
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-trash"></i>
                </a>
               
            </div>
        </td>
        </tr>
        
        <tr>
          <td>
            <div class="d-flex align-items-center justify-content-left">
              <div class="div_b">B</div>
              1 X 23 Jan 1323 Ce
            </div>
          </td>
          <td class="text-center">
            7622.5
          </td>
          <td class="text-center">
            7623.23
          </td>
          <td class="text-center">
            762.44
          </td>
          <td class="text-center">
            763.55
          </td>
          <td>
            <div class="d-flex justify-content-center">
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-trash"></i>
                </a>
               
            </div>
        </td>
        </tr>
        
        <tr>
          <td>
            <div class="d-flex align-items-center justify-content-left">
              <div class="div_b">B</div>
              1 X 23 Jan 1323 Ce
            </div>
          </td>
          <td class="text-center">
            7622.5
          </td>
          <td class="text-center">
            7623.23
          </td>
          <td class="text-center">
            762.44
          </td>
          <td class="text-center">
            763.55
          </td>
          <td>
            <div class="d-flex justify-content-center">
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-trash"></i>
                </a>
               
            </div>
        </td>
        </tr>
        
        <tr>
          <td>
            <div class="d-flex align-items-center justify-content-left">
              <div class="div_b">B</div>
              1 X 23 Jan 1323 Ce
            </div>
          </td>
          <td class="text-center">
            7622.5
          </td>
          <td class="text-center">
            7623.23
          </td>
          <td class="text-center">
            762.44
          </td>
          <td class="text-center">
            763.55
          </td>
          <td>
            <div class="d-flex justify-content-center">
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-trash"></i>
                </a>
               
            </div>
        </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center justify-content-left">
              <div class="div_b">B</div>
              1 X 23 Jan 1323 Ce
            </div>
          </td>
          <td class="text-center">
            7622.5
          </td>
          <td class="text-center">
            7623.23
          </td>
          <td class="text-center">
            762.44
          </td>
          <td class="text-center">
            763.55
          </td>
          <td>
            <div class="d-flex justify-content-center">
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="ms-2 me-2">
                    <i class="fa-solid fa-trash"></i>
                </a>
               
            </div>
        </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  <div class="clearfix">
    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
    <ul class="pagination">
      <li class="page-item disabled"><a href="#">Previous</a></li>
      <li class="page-item"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item active"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">Next</a></li>
    </ul>
  </div>
