<div class="container-fluid p-0 login_page">
    <div class="row m-0">
        <div class="col-md-7 ps-0">
            <img src="https://www.indonez.com/html-demo/cirro/img/blockit/in-signin-image.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-5 m-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://www.indonez.com/html-demo/cirro/img/user/header-logo-LxR0VE.svg"
                                alt="Cirro Logo" class="logo">
                        </div>
                        <div class="col-md-12">
                            <h3>Log into your account</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col-md-12">
                            <input type="text" class="form-control" placeholder="Username" required
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="icon input-group-text">👤</span>
                        </div>
                        <div class="input-group mb-3 col-md-12">
                            <input type="password" class="form-control" placeholder="Password" required
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="icon input-group-text">🔒</span>
                        </div>
                        <div class="col-md-12 form-options">
                            <label class="d-flex">
                                <input type="checkbox"> Remember me
                            </label>
                            <a href="#">Forgot password?</a>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn w-100">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>