<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 my-3">
            <div class="projects">
                <div class="projects-inner">
                    <header class="projects-header">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title">Nifty 1234 <span class="text-danger txt">-132.00</span>
                                    <div class="count">| <span class="info_btn"><img src="../../../assets/icons/tend.png" alt=""></span><span
                                            class="info_btn">Info</span></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h6><span>BreakDown</span>: 12321(-232),12321(-232),12321(-232),</h6>
                            </div>
                        </div>
                    </header>
                    <div class="panel panel-container">
                        <div class="row m-0">
                            <div class="col-xs-6 col-md-3 col-lg-3 pb-3">
                                <div class="panel panel-teal panel-widget border-right">
                                    <div class="row no-padding m-0">
                                        <div class="text-muted">Total P&L</div>
                                        <div class="large">+3122</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 col-lg-3 pb-3">
                                <div class="panel panel-blue panel-widget border-right">
                                    <div class="row no-padding m-0">
                                        <div class="text-muted">Max Profit</div>
                                        <div class="large">52.4L</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 col-lg-3 pb-3">
                                <div class="panel panel-orange panel-widget border-right">
                                    <div class="row no-padding m-0">
                                        <div class="text-muted">Max Loss</div>
                                        <div class="large">Unlimited</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 col-lg-3 pb-3">
                                <div class="panel panel-red panel-widget ">
                                    <div class="row no-padding m-0">
                                        <div class="text-muted">Margin Used</div>
                                        <div class="large">View Margin</div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.row-->
                    </div>
                    
                    <div class="row m-0 chips_sec">
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <button class="show_all_btn">Show All</button>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">24 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">24 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">24 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">24 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">24 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">24 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">24 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">24 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">25 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">25 Dec</div>
                      </div>
                      <div class="col-md-1 ps-1 pe-1 mb-2">
                        <div class="basic-chip background-blue">25 Dec</div>
                      </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
                                </th>
                                <th>Name</th>
                                <th>Qty</th>
                                <th>Avg</th>
                                <th>LTP</th>
                                <th>P/L</th>
                            </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td style="width: 75px;">
                                <label class="custom-checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox-box"></span>
                                </label>

                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="name">NMRL</p>
                                    <p class="ms-3">24th Dec 23000 PE</p>
                                </div>
                            </td>
                            <td>
                                <p class="text-danger badge-light-danger"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;-375</p>
                            </td>
                            <td>
                              <p class="text-danger">-375</p>

                            </td>
                            <td>
                                <p>445.80</p>
                            </td>
                            <td>
                              <p class="badge-light-success"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;+445.80</p>

                            </td>

                        </tr>
                        <tr>
                          <td style="width: 75px;">
                              <label class="custom-checkbox">
                                  <input type="checkbox">
                                  <span class="checkbox-box"></span>
                              </label>

                          </td>
                          <td>
                              <div class="d-flex align-items-center">
                                  <p class="name">NMRL</p>
                                  <p class="ms-3">24th Dec 23000 PE</p>
                              </div>
                          </td>
                          <td>
                              <p class="text-danger badge-light-danger"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;-375</p>
                          </td>
                          <td>
                            <p class="text-danger">-375</p>

                          </td>
                          <td>
                              <p>445.80</p>
                          </td>
                          <td>
                            <p class="badge-light-success"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;+445.80</p>

                          </td>

                      </tr>
                      <tr>
                        <td style="width: 75px;">
                            <label class="custom-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-box"></span>
                            </label>

                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <p class="name">NMRL</p>
                                <p class="ms-3">24th Dec 23000 PE</p>
                            </div>
                        </td>
                        <td>
                            <p class="text-danger badge-light-danger"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;-375</p>
                        </td>
                        <td>
                          <p class="text-danger">-375</p>

                        </td>
                        <td>
                            <p>445.80</p>
                        </td>
                        <td>
                          <p class="badge-light-success"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;+445.80</p>

                        </td>

                    </tr>
                    <tr>
                      <td style="width: 75px;">
                          <label class="custom-checkbox">
                              <input type="checkbox">
                              <span class="checkbox-box"></span>
                          </label>

                      </td>
                      <td>
                          <div class="d-flex align-items-center">
                              <p class="name">NMRL</p>
                              <p class="ms-3">24th Dec 23000 PE</p>
                          </div>
                      </td>
                      <td>
                          <p class="text-danger badge-light-danger"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;-375</p>
                      </td>
                      <td>
                        <p class="text-danger">-375</p>

                      </td>
                      <td>
                          <p>445.80</p>
                      </td>
                      <td>
                        <p class="badge-light-success"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;+445.80</p>

                      </td>

                  </tr>
                        <tr>
                          <td style="width: 75px;">
                              <label class="custom-checkbox">
                                  <input type="checkbox">
                                  <span class="checkbox-box"></span>
                              </label>

                          </td>
                          <td>
                              <div class="d-flex align-items-center">
                                  <p class="name">NMRL</p>
                                  <p class="ms-3">24th Dec 23000 PE</p>
                              </div>
                          </td>
                          <td>
                              <p class="text-danger badge-light-danger"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;-375</p>
                          </td>
                          <td>
                            <p class="text-danger">-375</p>

                          </td>
                          <td>
                              <p>445.80</p>
                          </td>
                          <td>
                            <p class="badge-light-success"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;+445.80</p>

                          </td>

                      </tr>
                      <tr>
                        <td style="width: 75px;">
                            <label class="custom-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-box"></span>
                            </label>

                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <p class="name">NMRL</p>
                                <p class="ms-3">24th Dec 23000 PE</p>
                            </div>
                        </td>
                        <td>
                            <p class="text-danger badge-light-danger"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;-375</p>
                        </td>
                        <td>
                          <p class="text-danger">-375</p>

                        </td>
                        <td>
                            <p>445.80</p>
                        </td>
                        <td>
                          <p class="badge-light-success"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;+445.80</p>

                        </td>

                    </tr>
                    <tr>
                      <td style="width: 75px;">
                          <label class="custom-checkbox">
                              <input type="checkbox">
                              <span class="checkbox-box"></span>
                          </label>

                      </td>
                      <td>
                          <div class="d-flex align-items-center">
                              <p class="name">NMRL</p>
                              <p class="ms-3">24th Dec 23000 PE</p>
                          </div>
                      </td>
                      <td>
                          <p class="text-danger badge-light-danger"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;-375</p>
                      </td>
                      <td>
                        <p class="text-danger">-375</p>
                      </td>
                      <td>
                          <p>445.80</p>
                      </td>
                      <td>
                        <p class="badge-light-success"><i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;+445.80</p>
                      </td>
                  </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                      <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>