@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";
$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;

// global stuff
body {
	background-color: $bg;
	color: #202020;
	font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
	font-size: 13px;
}
.name{
  font-weight: 600;
  background: #69247C;
  color: #FFF;
  border-radius: 5px;
  padding: 2px 8px;
}
a:hover {
	text-decoration: none;
}

p,
figure {
	margin: 0;
	padding: 0;
}

@mixin clear() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.projects {
	background-color: $dark-text;
	border: 1px solid $light-bg;
	overflow-x: auto;
	width: 100%;

	&-inner {
		border-radius: 4px;
	}
}
    .top_info_cart{
        padding: 16px 0;

        label{
            color: #FFF;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            padding-bottom: 20px;
            i{
                margin-left: 6px;
            }
        }
        span{
            font-size: 14px;
        }
        .sp1{
            color: green;
            font-weight: 600;
        }
        .sp2,.sp3{
            color: #FFF;
            font-weight: 600;
         }

        .sp4{
            color: blue;
            font-weight: 600;
            cursor: pointer;
        }
    }
.projects-header {
	color: white;
	padding: 22px;

	.count,
	.title {
		display: inline-block;
	}

	.count {
		color: #738297;
	}



	.title {
		font-size: 21px;

		+ .count {
			margin-left: 5px;
		}
	}
    .txt{
        font-size: 13px;
        font-weight: 400;
    }
    .info_btn{
  border:1px solid #0074c3;
      color: #0074c3;
      font-weight: 600;
        border-radius: 8px;
        font-size: 12px;
        padding: 4px 16px;
        margin-right: 10px;
        cursor: pointer;
        background: #FFF;
        img{
          width: 18px;
        }
    }
    h6{
        padding-top: 16px;
        span{
          font-weight: 500;
        }
    }
}


// selectric plugin styling
.selectric {
	background-color: transparent;
	border-color: $light-bg;
	border-radius: 4px;
	.label {
		color: $light-text;
		line-height: 34px;
		margin-right: 10px;
		text-align: left;
	}
	&-wrapper {
		float: right;
		width: 150px;
	}
}
// charts
.chart {
	border-radius: 3px;
	// box-shadow: 0 0 10px -3px black;
	border: 1px solid $light-bg;
	color: white;
	padding: 10px;
	position: relative;
	text-align: center;

	canvas {
		height: 400px;
		margin: 20px 0;
		width: 100%;
	}

	.actions {
		margin: 15px;
		position: absolute;
		right: 0;
		top: 0;

		span {
			cursor: pointer;
			display: inline-block;
			font-size: 20px;
			margin: 5px;
			padding: 4px;
		}

		.btn-link {
			color: white;

			i {
			    font-size: 1.75rem;
			}
		}
	}

	.title {
		font-size: 18px;
		margin: 0;
		padding: 15px 0 5px;
		+ .tagline {
			margin-top: 10px;
		}
	}

	.tagline {
		font-size: 12px;
	}
}

.danger-item {
	border-left: 4px solid #A84D43;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

/* Hide the default checkbox */
.custom-checkbox input {
    opacity: 0;
    position: absolute;
}

/* Custom checkbox style */
.custom-checkbox .checkbox-box {
    position: absolute;
    left: 0;
    top: -15px;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: 0.3s;
	// background: #646cff;

}

/* Checkmark style */
.custom-checkbox input:checked + .checkbox-box::after {
    content: '\2713'; /* Checkmark symbol */
    position: absolute;
    top: -3px;
    left: 3px;
    font-size: 16px;
    color: #646cff;

}

/* Checkbox hover effect */
.custom-checkbox:hover .checkbox-box {
    border-color: #888;
}

/* Checkbox focus effect */
.custom-checkbox input:focus + .checkbox-box {
    border-color: #0d6efd;
}
.show_all_btn{
  display: flex;
  justify-content: center;
  width: 100%;
  background: #2c3034;
  border:1px solid #0074c3;
  color: #0074c3;
  padding: 5px 10px;
  border-radius: 50px;
  display: inline-flex;
  font-weight: 700;
}
.background-blue{
  display: flex;
  justify-content: center;
  width: 100%;
  background: #2c3034;
  border:1px solid #0074c3;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
}
.chips_sec{
  padding: 0px 20px 16px 20px;
}
// new tabl

.table-wrapper {
  background: #fff;
  margin: 30px 0;
border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
padding-bottom: 15px;
background: #435d7d;
color: #fff;
padding: 16px 30px;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.table-title h2 {
margin: 5px 0 0;
font-size: 24px;
}
.table-title .btn-group {
float: right;
}
.table-title .btn {
color: #fff;
float: right;
font-size: 13px;
border: none;
min-width: 50px;
border-radius: 2px;
border: none;
outline: none !important;
margin-left: 10px;
}
.table-title .btn i {
float: left;
font-size: 21px;
margin-right: 5px;
}
.table-title .btn span {
float: left;
margin-top: 2px;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
padding: 12px 15px;
vertical-align: middle;
background-color: #e9ecef;

}
table.table tr th{
  font-size: 14px;
  font-weight: 600;
}
table.table tr td {
  font-size: 14px;
  font-weight: 600;

}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
opacity: 0.9;
font-size: 22px;
  margin: 0 5px;
}
table.table td a {
font-weight: bold;
color: #566787;
display: inline-block;
text-decoration: none;
outline: none !important;
}
table.table td a:hover {
color: #2196F3;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #F44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
border-radius: 50%;
vertical-align: middle;
margin-right: 10px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li a.page-link{
  background: transparent;
}
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
.div_b{
  background: #03a9f4;
  height: 19px;
  width: 19px;
  color: #FFF;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 10px;
}
.div_s{
  background: #ff000038;
  height: 19px;
  width: 19px;
  color: red;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 10px;
}
