<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 my-3">
            <div class="projects mb-4">
                <div class="projects-inner">
                    <header class="projects-header">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title">Nifty 1234 <span class="text-danger txt">-132.00</span>
                                    <div class="count">| <span class="info_btn">Info</span><span
                                            class="info_btn">Info</span></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h6>BreakDown: 12321(-232),12321(-232),12321(-232),</h6>
                            </div>
                        </div>
                    </header>
                    <div class="row top_info_cart">
                        <div class="col-md-3">
                            <div class="d-grid justify-content-center">
                                <label for="">Total P&L</label>
                                <span class="text-center sp1">+131,34</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid justify-content-center">
                                <label for="">Max profit</label>
                                <span class="text-center sp2">2.7L</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid justify-content-center">
                                <label for="">Max Loss<i class="fas fa-question-circle"></i></label>
                                <span class="text-center sp3">Unlimited</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid justify-content-center">
                                <label for="">margin Used<i class="fas fa-question-circle"></i>
                                </label>
                                <span class="text-center sp4">View Margin</span>
                            </div>
                        </div>
                    </div>
                    <table class="projects-table table table-dark table-striped">
                        <thead>
                            <tr>
                                <th style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
                                </th>
                                <th>Name</th>
                                <th>Qty</th>
                                <th>Avg</th>
                                <th>LTP</th>
                                <th>P/L</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
    
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="name">NMRL</p>
                                        <p class="ms-3">24th Dec 23000 PE</p>
                                    </div>
                                </td>
                                <td>
                                    <p>-375</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
    
                            </tr>
                            <tr>
                                <td style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
    
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="name">NMRL</p>
                                        <p class="ms-3">24th Dec 23000 PE</p>
                                    </div>
                                </td>
                                <td>
                                    <p>-375</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
    
                            </tr>
                            <tr>
                                <td style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
    
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="name">NMRL</p>
                                        <p class="ms-3">24th Dec 23000 PE</p>
                                    </div>
                                </td>
                                <td>
                                    <p>-375</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
    
                            </tr>
                            <tr>
                                <td style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
    
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="name">NMRL</p>
                                        <p class="ms-3">24th Dec 23000 PE</p>
                                    </div>
                                </td>
                                <td>
                                    <p>-375</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
    
                            </tr>
                            <tr>
                                <td style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
    
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="name">NMRL</p>
                                        <p class="ms-3">24th Dec 23000 PE</p>
                                    </div>
                                </td>
                                <td>
                                    <p>-375</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
    
                            </tr>
                            <tr>
                                <td style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
    
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="name">NMRL</p>
                                        <p class="ms-3">24th Dec 23000 PE</p>
                                    </div>
                                </td>
                                <td>
                                    <p>-375</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
    
                            </tr>
                            <tr>
                                <td style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
    
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="name">NMRL</p>
                                        <p class="ms-3">24th Dec 23000 PE</p>
                                    </div>
                                </td>
                                <td>
                                    <p>-375</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
    
                            </tr>
                            <tr>
                                <td style="width: 75px;">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
    
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="name">NMRL</p>
                                        <p class="ms-3">24th Dec 23000 PE</p>
                                    </div>
                                </td>
                                <td>
                                    <p>-375</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                                <td>
                                    <p>445.80</p>
                                </td>
                            </tr>
                        </tbody>
                        

                    </table>
                </div>
            </div>
        </main>
    </div>
</div>