
<div class="container-fluid">
	<div class="row">
		<main role="main" class="col-md-12 ml-sm-auto col-lg-12 my-3">
			<div class="projects mb-4">
				<div class="projects-inner">
					<header class="projects-header">
						<div class="title">Ongoing Projects</div>
						<div class="count">| 32 Projects</div>
						<i class="zmdi zmdi-download"></i>
					</header>
					<table class="projects-table">
						<thead>
							<tr>
                                <th>
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkbox-box"></span>
                                    </label>
                                </th>
								<th>Name</th>
								<th>Qty</th>
								<th>Avg</th>
								<th>LTP</th>
								<th>P/L</th>
							</tr>
						</thead>
						<tr>
                            <td>
                                <label class="custom-checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox-box"></span>
                                </label>

                            </td>
							<td>
								<div class="d-flex align-items-center">
                                    <p class="name">NMRL</p>
								<p class="ms-3">24th Dec 23000 PE</p>
                                </div>
							</td>
							<td>
								<p>-375</p>
							</td>
							<td>
									<p>445.80</p>
							</td>
							<td>
                                <p>445.80</p>
							</td>
							<td>
                                <p>445.80</p>
							</td>
							
						</tr>
						
					</table>
				</div>
			</div>
		</main>
	</div>
</div>