.name{
  font-weight: 600;
  background: #69247C;
  color: #FFF;
  border-radius: 5px;
  padding: 2px 8px;
}
a:hover {
	text-decoration: none;
}

p,
figure {
	margin: 0;
	padding: 0;
}
.projects-inner {

	.count,
	.title {
		display: inline-block;
    font-size: 21px;
    color: #252F4A;
    font-weight: 700;
	}
  h6{
    padding-top: 16px;
    padding-top: 16px;
    font-family: Roboto;
    text-align: inherit;
    color: rgb(111, 119, 134);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01563rem;
    font-weight: 400;
    span{
      font-family: Roboto;
      text-align: inherit;
      color: rgb(52, 64, 84);
      white-space: inherit;
      font-style: normal;
      text-decoration: none;
      font-size: 14px;
      line-height: 1.25rem;
      letter-spacing: 0.01563rem;
      font-weight: 500;
    }
}
}
  
.projects-header {
	
	.count {
		color: #738297;
	}
	.title {
		font-family: Roboto;
    text-align: inherit;
    color: rgb(52, 64, 84);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.25rem;
    letter-spacing: 0.01563rem;
    font-weight: 500;

		+ .count {
			margin-left: 5px;
		}
	}
    .txt{
        font-size: 13px;
        font-weight: 400;
    }
    .info_btn{
      padding: 0px 4px;
    width: 28px;
    height: 20px;
    border-radius: 4px;
    color: rgb(0, 108, 230);
    border: 1px solid rgb(0, 108, 230);
    font-size: 14px;
    font-weight: 500;
    padding: 3px 6px;
    cursor: pointer;
        img{
          width: 18px;
        }
        i{

        }
        .fa-arrow-trend-up:before{
          color: rgb(0, 108, 230);
        }
    }
   
  
}
.danger-item {
	border-left: 4px solid #A84D43;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

/* Hide the default checkbox */
.custom-checkbox input {
    opacity: 0;
    position: absolute;
}

/* Custom checkbox style */
.custom-checkbox .checkbox-box {
    position: absolute;
    left: 0;
    top: -15px;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    // background-color: #0d6efd;
    background-color: #fff;
    transition: 0.3s;
	// background: #646cff;

}

/* Checkmark style */
.custom-checkbox input:checked + .checkbox-box{
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
}
.custom-checkbox input:checked + .checkbox-box::after {
    content: '\2713'; /* Checkmark symbol */
    position: absolute;
    top: 0px;
    left: 3px;
    font-size: 12px;
    color: #FFF;
    font-weight: 700;

}

/* Checkbox hover effect */
.custom-checkbox:hover .checkbox-box {
    border-color: #888;
}

/* Checkbox focus effect */
.custom-checkbox input:focus + .checkbox-box {
    border-color: #0d6efd;
}
.show_all_btn{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid  rgb(0, 108, 230);;
  line-height: 30px;
  height: 40px;
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  font-family: Roboto;
  background: rgb(0, 108, 230);
  color: rgb(255, 255, 255);
  font-weight: 500;

}
.background-blue{
  width: 100%;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  border-radius: 16px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-family: Roboto;
  background-color:var(--chips-bg-color);
  color: var(--chips-color);
  font-weight: 400;

}
.chips_sec{
  padding: 0px 0px 16px 0px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: var(--text-color);
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li a.page-link{
  background: transparent;
}
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
table{
  border-collapse: separate;
  th{
    color: rgb(52, 64, 84);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1rem;
    letter-spacing: 0.01563rem;
    font-weight: 500;
  }
  th{
    color:var(--text-color);
    background-color: var(--background-color);
  }
  td{
    background-color: var(--table-background-color);
  }
  td{

    color: rgb(52, 64, 84);
    white-space: inherit;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    line-height: 1rem;
    letter-spacing: 0.01563rem;
    font-weight: 500;
  }
  tr{
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #F1F1F2;
    border-style: dashed;

  }
  .badge-light-success{
    position:relative;
    background:#e8fff3;
    color:#50cd89;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 6px;
    .fa-arrow-right:before{
      position: absolute;
      top: 7px;
      transform: rotate(270deg);
      left: 5px;
    }
  }
  .badge-light-danger{
    position:relative;
    background:#fff5f8;
    color:#f1416c;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 6px;
    .fa-arrow-right:before{
      position: absolute;
      top: 7px;
      transform: rotate(90deg);
      left: 5px;
    }
  }
  
}
.clearfix{
  padding: 10px;
}

.table_outer::-webkit-scrollbar{
  width:6px;
  border-radius: 50%;
}
.table_outer::-webkit-scrollbar-thumb {
  background-color: #a1a8b5; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the handle */
}

.table_outer::-webkit-scrollbar-thumb:hover {
  background-color: #a1a8b5; /* Color when hovering over the handle */
}

.table_outer::-webkit-scrollbar-track {
  background: #a1a8b5; /* Color of the scrollbar track */
  border-radius: 4px; /* Rounded corners for the track */
}

.table_outer{
  scroll-behavior: smooth;
    white-space: nowrap;
    overflow: auto;
    height: calc(100vh - 301px);
    
table {
  border-collapse:collapse;
  border: 1px solid var(--border-color);
  thead{
    position: sticky;
    top: 0;
    z-index: 1;
  }
  th{
    background-color: var(--table-thead-bgcolor);
  }
  td{
   background-color: var(--table-background-color);

  }
  th,
  td {
    color:var(--text-color);
  // background-color: var(--background-color);
  border: 1px solid;
  border-color: var(--border-color);
    // border-bottom: 0;
  }
  .fa-eye:before,
  .fa-trash:before,
  .fa-pen:before{
    font-size: 14px;
    cursor: pointer;
  }
  .fa-trash:before{
    content: "\f1f8";
    color: rgb(220 53 69);
  
  }
  .fa-pen:before{
    content: "\f304";
   
}
  
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: 1px solid var(--border-color);
  
}
}
.shadow {
  box-shadow: 0px 3px 3px -1px rgba(10, 22, 70, .1), 0px 0px 1px 0px rgba(10, 22, 70, .06) !important;

}
.info_cart{
  .icon{
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-shape1{
  background: rgb(255 87 154);

  }
  .icon-shape2{
    background:#5c60f5;
  
    }
    .icon-shape3{
      background:#00d4ff;
    
      }
      .icon-shape4{
        background:#ff8c00;
      
        }
        .card-body{
          flex: 1 1 auto;
          padding: 1.5rem 1.5rem;
          background-color: var(--cart-background-color);
        }
        span.h6{
          text-transform: uppercase;
          text-align: left;
          color: var(--cart-label-color);

          white-space: inherit;
          font-style: normal;
          text-decoration: none;
          font-size: 14px;
          line-height: 1rem;
          letter-spacing: 0.01563rem;
          font-weight: 500;
      
        }
        span.h3{
          color: var(--cart-data-color);
          white-space: inherit;
          font-style: normal;
          text-decoration: none;
          font-size: 16px;
          line-height: 1rem;
          letter-spacing: 0.01563rem;
          font-weight: 500;
      
        }
        .view_margin:hover{
          color: rgb(0, 108, 230);
          cursor: pointer;
        }
}