/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr.css";  /* Import toastr styles */
.toast-success {
   // background-color: #7637e4 !important;  /* Custom background color for success */
  }
  
  .toast-error {
    background-color: #d9534f !important;  /* Custom background color for error */
  }
  
  .toast-info {
    background-color: #5bc0de !important;  /* Custom background color for info */
  }
  
  .toast-warning {
    background-color: #f0ad4e !important;  /* Custom background color for warning */
  }
  
input[type="checkbox"],
input[type="radio"],
input[type="button"]{
    cursor: pointer;
  }
  body{
    background: #ececf1;
  }
