/* You can add global styles to this file, and also import other style files */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

* {
  font-family: "Roboto", serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
@import "~ngx-toastr/toastr.css";  /* Import toastr styles */
.toast-success {
   // background-color: #7637e4 !important;  /* Custom background color for success */
  }
  
  .toast-error {
    background-color: #d9534f !important;  /* Custom background color for error */
  }
  
  .toast-info {
    background-color: #5bc0de !important;  /* Custom background color for info */
  }
  
  .toast-warning {
    background-color: #f0ad4e !important;  /* Custom background color for warning */
  }
  
input[type="checkbox"],
input[type="radio"],
input[type="button"],
input[type="radio"],
select{
    cursor: pointer;
  }
  // body{
  //   background: #f8f9fa;
  // }
  :root {
    --background-color: #f8f9fa;
    --text-color: rgb(52, 64, 84);
    --search-boader-color: #4f52ff;
    --cart-background-color:#fff;
    --cart-label-color:rgb(111, 119, 134);
    --cart-data-color:rgb(52, 64, 84);
    --table-thead-bgcolor:#F1F1F2;
    --border-color:#e8e8e8;
    --table-background-color:#FFF;
    --top-navbar-bg-color:#FFF;
    --top-navbar-text-color:rgb(52, 64, 84);

    --chips-bg-color: rgb(229, 239, 251);
  --chips-color: rgb(52, 64, 84);

  }
  [data-theme='dark'] {
    --background-color: #212631;
    --table-thead-bgcolor:#212631;

    --cart-background-color:#212631ed;
    --text-color: #ffffff;
    --cart-label-color:#FFF;
    --cart-data-color:#FFF;
    --border-color:rgb(255 255 255 / 10%);
    --table-background-color:#3b4f7b0d;
    // --table-border-color:rgb(255 255 255 / 10%);
    --top-navbar-bg-color:#212631;
    --top-navbar-text-color:#FFF;

    --chips-bg-color: #313540;
    --chips-color: #FFF;

  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//scrollbar code
::-webkit-scrollbar{
  width:6px;
  border-radius: 50%;
}
::-webkit-scrollbar-thumb {
  background-color: #a1a8b5; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a8b5; /* Color when hovering over the handle */
}

::-webkit-scrollbar-track {
  background: #a1a8b5; /* Color of the scrollbar track */
  border-radius: 4px; /* Rounded corners for the track */
}